@headersize : 3em;
@editorsize : 40em;
@mg: 1em;

body {
  font-family: "Calibri","Verdana",sans-serif; 
}

div#header {
  position: absolute;
  top: 0em;
  left: 0em;
  right: 0em;
  height: @headersize -.6em;
  background: black;
  color: white;
  overflow:hidden;
  padding: .3em @mg;
  .head {
    font-size: x-large;
    font-weight: bold;
  }
}

div#content {
  position: absolute;
  top: ( @headersize +  @mg);
  left: @mg;
  bottom: @mg;
  right: @mg;
}

.right-column {
  position: absolute;
  width: @editorsize;
  right: 0em;
}

div#editor-container {
  .right-column;
  top: 0em;
  bottom: 10em;
}
#editor {
    width: 100%;
    position: absolute;
    top: 0em;
    bottom: 0em;
    left: 0em;
    right: 0em;
}


div#canvas-container {
  position: absolute;
  left: 0em;
  top: 0em;
  bottom: 0em;
  right: (@editorsize + @mg);
    border: 1px solid #aae;

}
canvas#drawing-area {
   /* width: 100%;*/
   /* height: 100%;*/
}

#turtle {
  display: block;
  position: absolute;
  width: 0em;
  height: 0em;
  #placeholder {
    position: relative;
    width: 3em;
    height: 2em;
    left: -1.25em;
    top: -1em;
  }
}

#log-wrapper {
  .right-column;
  bottom: 0em;
  height: 9em;
}
#log {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0em;
  background: white;
}